fastapi
uvicorn
jinja2
python-multipart
langchain-groq
langchain-core
python-dotenv
requests
pillow
streamlit
pypdf
groq
google-genai
python-dotenv
sounddevice
scipy
numpy
pyttsx3
beautifulsoup4
youtube-transcript-api